.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

main > .container {
  padding: 60px 15px 15px;
}

.container {
	padding-bottom: 15px;
}