.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

main > .container {
  padding: 30px 15px 0;
}

@media (min-width: 768px) {
  .news-image {
    max-width: 280px;
  }
}
